<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:20</td>   <td>0</td> <td title="&gt;&gt;Initilizer.appiumDriverInitialization()[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&gt;&gt;appiumDriverInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:25</td>   <td>4377</td> <td title="&lt;&lt;Initilizer.closeOpenItems()[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&lt;&lt;closeOpenItems</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:24</td>   <td>3748</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.endReport()[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:24</td>   <td>3694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:24</td>   <td>3723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:24</td>   <td>3744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="93a7ca">  <td>19/04/08 13:57:24</td>   <td>3686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPaymentsBills_ANDROID_SG.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">gettingData_payCards</td> 
  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="93a7ca">  <td>19/04/08 13:57:24</td>   <td>3703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPaymentsBills_ANDROID_SG.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">gettingData_payCards</td> 
  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="93a7ca">  <td>19/04/08 13:57:24</td>   <td>3725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPaymentsBills_ANDROID_SG.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">gettingData_payCards</td> 
  <td>main@668849042</td>   <td></td> </tr>
<tr bgcolor="df95a9">  <td>19/04/08 13:57:23</td>   <td>3218</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.startReport()[pri:0, instance:com.citi.mobileAutomation.test_SG_ANDROID.TestPaymentsBills_ANDROID_SG@e73f9ac]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@668849042</td>   <td></td> </tr>
</table>
