<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CITI_AUTOMATION</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2d6">  <td>19/05/13 02:58:25</td>   <td>0</td> <td title="&gt;&gt;Initilizer.appiumDriverInitialization()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_iOS.PayBills_Adhoc_LCY_Nopayee@6c3708b3]">&gt;&gt;appiumDriverInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>19/05/13 02:58:39</td>   <td>13802</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_iOS.PayBills_Adhoc_LCY_Nopayee@6c3708b3]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
