<h2>Methods that were not run</h2><table>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.appiumDriverInitialization</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
<tr><td>com.citi.mobileAutomation.controlers.Initilizer.closeOpenItems</td></tr>
</table>