<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:51:24</td>   <td>0</td> <td title="&gt;&gt;Initilizer.appiumDriverInitialization()[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&gt;&gt;appiumDriverInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:51:53</td>   <td>28406</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:08</td>   <td>43616</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.startReport()[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:08</td>   <td>44156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:08</td>   <td>44169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:10</td>   <td>45833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:52</td>   <td>87886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:52</td>   <td>87888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:52</td>   <td>88051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:52</td>   <td>88052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:52</td>   <td>88209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:52</td>   <td>88211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:53</td>   <td>88491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:53</td>   <td>88493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:53</td>   <td>88615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:53</td>   <td>88615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:53</td>   <td>88750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:53</td>   <td>88751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:53</td>   <td>88853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/04/16 00:52:53</td>   <td>88853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Payment_CrossBorder_Existpayee_CGT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:53</td>   <td>88965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.getResult(org.testng.ITestResult)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:53</td>   <td>88968</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initilizer.endReport()[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_Payment_CrossBorder_Existpayee_CGT@3a5ed7a6]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:54</td>   <td>89305</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/04/16 00:52:59</td>   <td>94422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_ExistPayee@887af79]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:52:59</td>   <td>94427</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_NotPayee@6325a3ee]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:04</td>   <td>99434</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/04/16 00:53:09</td>   <td>104528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_ADHOC_ADDPAYEE.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_ADHOC_ADDPAYEE@7fac631b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:09</td>   <td>104530</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_LCY_LCY_FEP@1d16f93d]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:14</td>   <td>109596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/04/16 00:53:19</td>   <td>114686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_LCY@5b87ed94]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:19</td>   <td>114689</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/04/16 00:53:24</td>   <td>119774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PAyment_CrossBorder_Existpayee_SWIFT.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_CrossBorder_Android.Test_PAyment_CrossBorder_Existpayee_SWIFT@67b92f0a]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:24</td>   <td>119776</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayLoans.PayLoans_CASA_LCY_LCY@6e0e048a]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:29</td>   <td>124782</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/04/16 00:53:34</td>   <td>129889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CC_ExistPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CC_ExistPayee@2b9627bc]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:34</td>   <td>129892</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>19/04/16 00:53:39</td>   <td>134998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_LCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_LCY_FCY@5bc79255]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:39</td>   <td>135000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/04/16 00:53:44</td>   <td>140077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_FCY_LCY_EP.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/04/16 00:53:44</td>   <td>140079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_FCY_LCY_EP.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/04/16 00:53:44</td>   <td>140083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_FCY_LCY_EP.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/04/16 00:53:44</td>   <td>140090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_FCY_LCY_EP.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/04/16 00:53:44</td>   <td>140097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_FCY_LCY_EP.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/04/16 00:53:44</td>   <td>140103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_FCY_LCY_EP.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_FCY_LCY_EP@65e2dbf3]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:44</td>   <td>140104</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/04/16 00:53:49</td>   <td>145185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_FCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_FCY@47ef968d]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:49</td>   <td>145186</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/04/16 00:53:55</td>   <td>150261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_PayBill_CASA_Adhoc_AddPayee.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PayBill_ANDROID.Test_PayBill_CASA_Adhoc_AddPayee@4f970963]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:53:55</td>   <td>150265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_LCY_LCY_GIRO@23e028a9]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/04/16 00:54:00</td>   <td>155333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_LCY_LCY_GIRO.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_LCY_LCY_GIRO@23e028a9]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/04/16 00:54:00</td>   <td>155334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_LCY_LCY_GIRO.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_LCY_LCY_GIRO@23e028a9]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/04/16 00:54:00</td>   <td>155335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_LCY_LCY_GIRO.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_LCY_LCY_GIRO@23e028a9]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/04/16 00:54:00</td>   <td>155336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT2_LCY_LCY_GIRO.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT2_ANDROID.TestPayments_PT2_LCY_LCY_GIRO@23e028a9]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:54:00</td>   <td>155337</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/04/16 00:54:05</td>   <td>160413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_TBOA_FCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_TBOA_ANDROID.TestPayments_TBOA_FCY_LCY@61f8bee4]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:54:05</td>   <td>160422</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/04/16 00:54:10</td>   <td>165490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_Adhoc.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_Adhoc@3dd4520b]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>19/04/16 00:54:10</td>   <td>165491</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initilizer.reset()[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">&gt;&gt;reset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/04/16 00:54:15</td>   <td>170559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPayments_PT1_LCY_LCY.gettingData_payCards(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.citi.mobileAutomation.test_SG_PT1_Android.TestPayments_PT1_LCY_LCY@7b49cea0]">gettingData_payCards</td> 
  <td>main@1301664418</td>   <td></td> </tr>
</table>
